<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/templates/head.ejs %>
    </head>
    <body>
        <% include partials/templates/header.ejs %>

        <div class="container contnets">

            <!-- FIRST ROW OF BLOCKS -->     
            <div class="row">

                <!-- USER PROFILE BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Event Manager</dtitle>
                        <hr>
                        <div class="thumbnail">
                        </div><!-- /thumbnail -->
                        <h1>A Fantastic Event</h1>
                        <h3>Dashboard</h3>
                        <br>
                        <div class="info-user">
                            <span aria-hidden="true" class="li_user fs1"></span>
                            <span aria-hidden="true" class="li_settings fs1"></span>
                            <span aria-hidden="true" class="li_mail fs1"></span>
                            <span aria-hidden="true" class="li_key fs1"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <!-- MAIL BLOCK -->
                    <div class="dash-unit">
                        <dtitle>Messages</dtitle>
                        <hr>
                        <div class="msg_container">
                            <div class="window">
                                <ul class="mail">
                                </ul>
                            </div>
                        </div>
                    </div><!-- /dash-unit -->
                </div><!-- /span3 -->

                <!--  STATS -->
                <!-- GRAPH CHART - lineandbars.js file -->     
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                        <dtitle>Zone Stats</dtitle>
                        <hr>
                        <div class="section-graph">
                            <div id="zonechart"></div>
                            <br>
                            <div class="graph-info">
                                <span class="graph-info-big"></span>
                                <span class="graph-info-small">Guest counts</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3 col-lg-3">

                    <!-- LOCAL TIME BLOCK -->
                    <div class="half-unit">
                        <dtitle>Local Time</dtitle>
                        <hr>
                        <div class="clockcenter">
                            <digiclock>12:45:25</digiclock>
                        </div>
                    </div>

                    <!-- SERVER UPTIME -->
                    <div class="half-unit">
                        <dtitle>Server Uptime</dtitle>
                        <hr>
                        <div class="cont">
                            <p><img src="/themes/img/up.png" alt=""> <bold>Up</bold> | <span id="uptime"></span></p>
                        </div>
                    </div>

                </div>


            </div><!-- /row -->
            <div class="row">

                <!-- SECOND ROW OF BLOCKS --> 
                <% data.forEach(function(item){ %>

                <div class="col-sm-3 col-md-3 col-lg-3 zone_container">
                    <div id="<%= item.name.replace(' ', '_').toLowerCase() %>" class="dash-unit square zone_alert <%= item.enable ? 'zone_enable' : 'zone_disable' %> ">
                    </div>
                </div>

                <% }); %>
            </div><!-- /row -->
            <div class="row">
                <div id="char1" style="width:100%; height:400px;"></div>
            </div>
        </div> <!-- /container -->

        <% include partials/templates/footer.ejs %>
        <% include partials/templates/jsdefaults.ejs %>
    </body>
</html>